<?xml version="1.0"?>
<config>    
    <modules>
        <TLSoft_BarionPayment>
			<codepool>community</codepool>
			<version>0.5.6</version>
        </TLSoft_BarionPayment>
    </modules>
    <global>
		<models>
            <tlbarion>
                <class>TLSoft_BarionPayment_Model</class>
				<resourceModel>tlbarion_mysql4</resourceModel>
            </tlbarion>
			<tlbarion_mysql4>
                <class>TLSoft_BarionPayment_Model_Mysql4</class>
                <entities>
                    <transactions>
                        <table>tlsoft_barion_payment_transactions</table>
                    </transactions>
					 <transactions_history>
                        <table>tlsoft_barion_payment_transactions_history</table>
                    </transactions_history>
                </entities>
            </tlbarion_mysql4>
        </models>
		<blocks>
			<tlbarion>
                <class>TLSoft_BarionPayment_Block</class>
            </tlbarion>
		</blocks>
		<helpers>
            <tlbarion>
                <class>TLSoft_BarionPayment_Helper</class>
            </tlbarion>
			<translations>
                <class>TLSoft_BarionPayment_Helper</class>
            </translations>
        </helpers>
		<resources>
			<tlbarion_setup>
				<setup>
					<module>TLSoft_BarionPayment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</tlbarion_setup>
		</resources>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TLSoft_BarionPayment before="Mage_Adminhtml">TLSoft_BarionPayment_Adminhtml</TLSoft_BarionPayment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<tlbarion>
					<file>tlbarion.xml</file>
				</tlbarion>
			</updates>
		</layout>
		<translate>
            <modules>
                <TLSoft_BarionPayment>
                    <files>
                        <default>tlsoft_tlbarion.csv</default>
                    </files>
                </TLSoft_BarionPayment>
            </modules>
        </translate>
	</adminhtml>
	<default>
		<payment>
			<tlbarion>
				<model>tlbarion/paymentmethod</model>
				<payment_action>authorize_capture</payment_action>
				<active>0</active>
				<order_status>1</order_status>
				<allowspecific>0</allowspecific>
				<specificcountry />
				<title><![CDATA[Barion Payment]]></title>
				<shop_id />
				<is_test>1</is_test>
			</tlbarion>
		</payment>
	</default>
	<frontend>
		<secure_url>
			<tlbarion_redirection>/tlbarion/redirection</tlbarion_redirection>
		</secure_url>
		<routers>
			<tlbarion>
				<use>standard</use>
				<args>
					<module>TLSoft_BarionPayment</module>
					<frontName>tlbarion</frontName>
				</args>
			</tlbarion>
		</routers>
		<translate>
            <modules>
                <TLSoft_BarionPayment>
                    <files>
                        <default>tlsoft_tlbarion.csv</default>
                    </files>
                </TLSoft_BarionPayment>
            </modules>
        </translate>
	</frontend>
	<crontab>
        <jobs>
            <tlbarion_observer>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
                <run>
                    <model>tlbarion/observer::checkTransactions</model>
                </run>
            </tlbarion_observer>
        </jobs>
    </crontab>
</config>